<!-- Main body -->
<div class="container p-5">

  <!-- Temp contents -->
  <p><i>No content until all of the routes are finished, including the authenitcation and database</i></p>

  <h3>
    <u>
      CheckList:
    </u>
  </h3>
  <ul>
    <li *ngFor="let item of checkList">
        {{item}}
    </li>
  </ul>

  <ul>
    <li *ngFor="let link of links">
        <a href="{{main+link}}">
          {{link}}
        </a>
    </li>
  </ul>

  <hr>

  <!-- Container for all of the components-->
  <router-outlet>

  </router-outlet>


  <!-- Footer (not sticky for now) -->
  <footer class="card-footer text-muted text-center py-5">
    <hr>
    <p class="py-5">
      Footer content
    </p>
  </footer>


</div>
