<section class="py-5 text-center container">
    <div class="py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            
            <!-- Content here -->
            <h1 class="fw-ligt">
                Hello <del>World</del>
            </h1>
            <p class="lead text-muted">You're probably thinking its one of those generic websites agian...</p>
            <p class="lead text-muted">That's right! <span style="color:black">It is</span> one of those again but it has a little <i>Sheeeesh</i></p>
            <p class="lead-text-muted">Login for more details or explore the web application further</p>
            
            <!-- Links -->
            <button routerLink="/login" class="btn btn-primary mx-1">Login</button>
            <button routerLink="/home" class="btn btn-dark mx-1">Other</button>

        </div>        
    </div>
</section>